<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/c_menu/c_เป็ดตุ๋นเกาลัด_1.JPG">
              </label>
              <div class="content content-1">
                <div class="title">เป็ดตุ๋นเกาลัด</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ :  95 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/c_menu/c_เป็ดตุ๋นเกาลัด_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
        - น่องเป็ดติดสะโพก 2 น่อง<br>
        - เกาลัดสุก 60 กรัม <br>
        - เห็ดหอมลวก 40 กรัม <br>
        - แครอทหั่นแว่น 50 กรัม<br>
        - เก๋ากี้ 20 กรัม <br>
        - กระเทียมทุบพอแตก 15 กรัม <br>
        - ขิงหั่นแว่น 20 กรัม <br>
        - อบเชย 15 กรัม<br>
        - โป๊ยกั๊ก 5 ดอก <br>
        - เกลือ 1 ช้อนชา <br>
        - ซีอิ๊วขาว 1+1/2 ช้อนโต๊ะ <br>
        - ซีอิ๊วดำ 1/2 ช้อนชา <br>
        - น้ำตาลปี๊บ 1 ช้อนโต๊ะ <br>
        - ยอดผักคะน้าฮ่องกงลวก 7 ต้น <br>
        - คนอร์ ซุปรสหมูก้อน 1 ก้อน<br>
        - น้ำมันพืช 1 ช้อนโต๊ะ <br>
        - น้ำ
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/c_menu/c_เป็ดตุ๋นเกาลัด_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.เทน้ำมันใส่หม้อรอให้ร้อน นำกระเทียม ขิง อบเชย <br>โป๊ยกั๊ก ลงผัดพอหอม<br><br>
        2.เทน้ำเปล่าไปลงไปในหม้อที่ผัดเครื่องเทศไว้ ตามด้วยใส่คนอร์ ปรุงรสด้วยเกลือ ซีอิ๊วขาว ซีอิ๊วดำ และน้ำตาลปี๊บ คนให้เข้ากัน<br><br>
        3.นำน่องเป็ดติดสะโพก เห็ดหอมลวก แครอทหั่นแว่น <br>เก๋ากี้ลงไปตุ๋นในหม้อน้ำซุปที่ปรุงไว้ ตุ๋นเป็ดประมาณ <br>20 นาที ให้ใส่เกาลัดตามลงไป ตุ๋นต่ออีก 30 นาที<br><br>
        4.ตักน่องเป็ดติดสะโพก ตามด้วยเกาลัด แครอท และ<br>ยอดผักคะน้าฮ่องกงลวกจัดใส่จาน ราดด้วยน้ำซุป<br>ที่ตุ๋นเป็ด ตกแต่งด้วยผักชี
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>