<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/c_menu/c_ข้าวอบจักรพรรดิ_1.JPG">
              </label>
              <div class="content content-1">
                <div class="title">ข้าวอบจักรพรรดิ</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 40 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/c_menu/c_ข้าวอบจักรพรรดิ_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
        &nbsp&nbsp- ข้าวกล้อง 3 ถ้วยตวง <br>
        &nbsp&nbsp- กุ้งขาว 10 ตัว<br>       
        - กุนเชียงหั่นเต๋า 1 เส้น  <br>      
        &nbsp&nbsp- แฮมหั่นเต๋า 4 แผ่น    <br>    
        &nbsp&nbsp- แครอทหั่นเต๋าเล็ก 1/2 หัว    <br>   
        &nbsp&nbsp- ถั่วลันเตา 1/4 ถ้วยตวง <br>
        &nbsp&nbsp- เห็ดหอม 4 ดอก        <br> 
        &nbsp&nbsp- แปะก๊วย 1/2 ถ้วยตวง   <br>      
        &nbsp&nbsp- ขิงฝาน 1 แง่ง        <br> 
        &nbsp&nbsp- รากผักชี 2 ราก       <br>  
        &nbsp&nbsp- กระเทียมสับ 1 ช้อนโต๊ะ   <br>      
        &nbsp&nbsp- ผงปรุงรส 1+1/2 ช้อนโต๊ะ   <br>     
        &nbsp&nbsp- ซีอิ๊วขาว 1+1/2 ช้อนโต๊ะ    <br>     
        &nbsp&nbsp- ซีอิ๊วดำ 1/2 ช้อนโต๊ะ      <br>   
        &nbsp&nbsp- พริกไทย 1 ช้อนชา       <br>  
        &nbsp&nbsp- น้ำมันพืช 2 ช้อนโต๊ะ      <br>   
        &nbsp&nbsp- น้ำ
      </div>
      </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/c_menu/c_ข้าวอบจักรพรรดิ_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br> <br> <br><br><br> วิธีทำ</div>
      <div class="text">
        1.ตั้งกระทะ ใส่น้ำมันพืชลงไป ตั้งไฟให้ร้อน ใส่กุนเชียงลงไปผัดให้พอเปลี่ยนสี ตามด้วยกระเทียม ผัดให้หอมแล้วใส่แฮมลงไป ผัดให้เข้ากันเล็กน้อย<br> <br> 
        2.ใส่ แครอท ถั่วลันเตา และแปะก๊วยตามลงไป ผัดให้เข้ากันอีกครั้ง แล้วตามด้วยกุ้ง และเห็ดหอม ผัดให้กุ้งพอสุก แล้วจึงตักกุ้ง และเห็ดหอม ออกพักไว้<br> <br> 
        3.ใส่ข้าวกล้องลงไป ผัดให้เข้ากัน ปรุงรสด้วยผงปรุงรส ซีอิ๊วขาว พริกไทย และพริกไทย คลุกเคล้าให้เข้ากัน<br> <br> 
        4.ใส่ขิง และรากผักชีลงในหม้อหุงข้าว แล้วตักข้าวที่ผัดเอาไว้ลงไป ใส่น้ำเปล่าลงไป กดหุงแล้วรอจนข้าวสุก<br> <br> 
        5.เมื่อข้าวสุก ตักขึ้นใส่ภาชนะสำหรับเสิร์ฟ นำกุ้ง และเห็ดหอมที่ผัดไว้ตอนแรก มาเรียงด้านหน้าให้สวยงาม
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>