<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/c_menu/c_กระเพาะปลา_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">กระเพาะปลา</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 55 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/c_menu/c_กระเพาะปลา_1.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
        - กระเพาะปลาหั่นท่อนแช่น้ำ 200 กรัม <br>
        - ไข่นกกระทาต้ม 4 ฟอง<br>
        - เห็ดหอมลวก 50 กรัม <br>
        - อกเป็ดสุกหั่นชิ้น 100 กรัม <br>
        - รากบัวลวก 30 กรัม <br>
        - แปะก๊วยต้มสุก 20 กรัม<br>
        - กระเทียบบุบ 7 เม็ด<br>
        - รากผักชีบุบ 3 ต้น<br>
        - ผักชีซอย 20 กรัม <br>
        - ซีอิ๊วขาว 2 ช้อนโต๊ะ <br>
        - ซีอิ๊วดำ 2 ช้อนชา<br>
        - จิ๊กโฉ่ว 2 ช้อนโต๊ะ<br>
        - น้ำตาลทราย 2 ช้อนโต๊ะ <br>
        - เลือดไก่ 50 กรัม <br>
        - คนอร์ ซุปรสหมูก้อน 1 ก้อน <br>
        - แป้งมัน 2 ช้อนโต๊ะ <br>
        - น้ำเปล่า
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/c_menu/c_กระเพาะปลา_1.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.ตั้งหม้อใส่น้ำบนไฟกลาง ใส่คนอร์ซุปรสหมูก้อนลงไป ตามด้วยใส่กระเทียมบุบและรากผักชี คนให้เข้ากัน<br><br>
        2.ใส่เห็ดหอมลงไปต้มประมาณ 10 นาที หลังจากนั้นใส่กระเพาะปลาลงไปต้มจนสุกนิ่มดี ปรุงรสด้วยน้ำมันหอย ซีอิ๊วขาว ซีอิ๊วดำ น้ำตาลทราย และจิ๊กโฉ่ว<br><br>
        3.ใส่ไข่นกกระทา เลือดไก่ รากบัวลวก และแปะก๊วยต้มสุก ลงไปต้มประมาณ 5 - 6 นาที<br><br>
        4.ใส่แป้งข้าวโพดที่ละลายกับน้ำแล้วลงไปคนเร็วๆ <br>เพื่อไม่ให้แป้งจับตัวเป็นก้อน จนน้ำเหนียวข้นดีแล้วปิดไฟ<br><br>
        5.ตักกระเพาะปลาจักรพรรดิที่เสร็จแล้วใส่ชาม ใส่อกเป็ดหั่นชิ้นด้านบน โรยด้วยผักชีซอย เสิร์ฟคู่กับจิ๊กโฉ่ว
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>