<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/c_menu/c_ผัดโป๊ยเซียน_2.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ผัดโป๊ยเซียน</div>
              <div class="text">
                ระดับความยาก : ปานกลาง<br>
                ระยะเวลาที่ใช้ : 20 นาที
              </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/c_menu/c_ผัดโป๊ยเซียน_1.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
        - กุ้งสด 8 ตัว<br>
        - แครอท 1/2 หัว<br>
        - กะหล่ำปลี 1/2 หัว <br>
        - ต้นหอม 1 ถ้วย <br>
        - เห็ดหูหนูดำ 1 ถ้วย <br>
        - วุ้นเส้น 1 ถ้วย<br>
        - หอมหัวใหญ่ 1 หัว <br>
        - ดอกไม้จีน 1/2 ถ้วย <br>
        - น้ำปลา 1 ช้อนโต๊ะ <br>
        - ซอสหอยนางรม 1 ช้อนโต๊ะ <br>
        - น้ำตาลทราย 1 ช้อนชา <br>
        - เหล้าจีน 2 ช้อนโต๊ะ <br>
        - น้ำมันพืช 1 ช้อนโต๊ะ
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/c_menu/c_ผัดโป๊ยเซียน_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br>วิธีทำ</div>
      <div class="text">
        1.นำกระทะขึ้นตั้งไฟปานกลาง เทน้ำมันพืชลงไป <br>ผัดหอมหัวใหญ่จนหอม จากนั้นใส่เหล้าจีนลงไป <br>ตามด้วยกุ้งสด ผัดจนสุก<br><br>
        2.ใส่แครอท กะหล่ำปลี ดอกไม้จีน เห็ดหูหนู และวุ้นเส้น <br><br>
        3.ปรุงรสด้วยน้ำปลา น้ำตาลทราย และซอสหอยนางรม<br><br>
        4.โรยต้นหอม และขึ้นฉ่าย ตักใส่จาน พร้อมเสิร์ฟ
      </div>
      </div>
      </div>
      </div>
    </body>
    </html>