<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
  		window.console = window.console || function(t) {};
 	</script>
   
 	<script>
  if (document.location.search.match(/type=embed/gi)) 
  {
    window.parent.postMessage("resize", "*");
  }
 </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/c_menu/c_ขนมจีบหมู_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ขนมจีบหมู</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 70 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/c_menu/c_ขนมจีบหมู_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
        - เนื้อหมูสับ 500 กรัม<br>
        - เนื้อกุ้งสับ 150 กรัม<br>
        - กุ้งขาว 20 ตัว <br>
        - แครอทหั่นเต๋าเล็ก 100 กรัม <br>
        - ต้นหอมซอย 50 กรัม <br>
        - รากผักชี 5 ราก <br>
        - กระเทียม 20 กรัม <br>
        - พริกไทย 20 กรัม <br>
        - ซอสหายนางรม 40 กรัม <br>
        - เกลือ 10 กรัม<br>
        - ซีอิ๊วขาว 15 กรัม <br>
        - แผ่นแป้งเกี๊ยว 2 ห่อ <br>
        - ผักชี <br>
        - กระเทียมเจียว <br>
        - จิ๊กโฉ่ว
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/c_menu/c_ขนมจีบหมู_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.นำส่วนผสมสามเกลอ คือ รากผักชี กระเทียม และพริกไทย มาตำรวมกันให้ละเอียดแล้วพักไว้ <br><br>
        2.นำเนื้อหมูสับ เนื้อกุ้ง สามเกลอที่ตำไว้ ซอสหอยนางรม เกลือ  ซีอิ๊วขาว แครอท และต้นหอม ผสมให้เข้ากัน <br><br>
        3.นำแผ่นแป้งเกี๊ยวมาวางระหว่างนิ้วโป้งและนิ้วชี้ในลักษณะการกำมือหลวมๆแล้วกดแผ่นแป้งเกี๊ยวให้เป็นหลุม <br><br>
        4.ตักส่วนไส้ลงไป พับหรือตัดส่วนเกินของแผ่นแป้งเกี๊ยว แล้วนำกุ้งมาวางบนหน้าขนมจีบหมู ทำจนครบทุกชิ้น<br><br>
        5.วางขนมจีบหมูบนลังนึ่งแล้วใส่หม้อหุงข้าว นึ่งประมาณ 15 - 20 นาที แล้วนำขนมจีบที่ได้มาจัดใส่จาน โรยหน้าด้วยผักชี และกระเทียมเจียว พร้อมกับถ้วยน้ำจิ้มจิ๊กโฉ่ว  
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>