<!DOCTYPE html>
<html>
  <%- include top.ejs %>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1" />
    <link href="stylesheets/contact.css" rel="stylesheet" />
    <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Easy Cooking</title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
  </head>

  <body>
    <!--fong-->
    <div class="wrapper1">
      <div class="card front-face">
        <img src="images/contact_pic/PJ.jpg" />
      </div>
      <div class="card back-face">
        <img src="images/contact_pic/PJ.jpg" />
        <div class="info">
          <div class="title">กชพร สิริวัฒนานนท์</div>
          <p>
            รหัสนักศึกษา 61010003<br />
            3rd year student<br />
            ITE#21 KMITL
          </p>
        </div>
        <ul>
          <a href="https://www.facebook.com/FongFongPJ/"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://line.me/ti/p/maClSSBbdo"
            ><i class="fab fa-line"></i
          ></a>
          <a href="https://github.com/PJ-monweek"
            ><i class="fab fa-github"></i
          ></a>
          <a href="Mailto:61010003@kmitl.ac.th"
            ><i class="fa fa-envelope" aria-hidden="true"></i
          ></a>
        </ul>
      </div>
    </div>

    <!--pikul-->
    <div class="wrapper1">
      <div class="card front-face">
        <img src="images/contact_pic/Pikul.jpg" />
      </div>
      <div class="card back-face">
        <img src="images/contact_pic/Pikul.jpg" />
        <div class="info">
          <div class="title">ธนกมล กองกุล</div>
          <p>
            รหัสนักศึกษา 61010413<br />
            3rd year student<br />
            ITE#21 KMITL
          </p>
        </div>
        <ul>
          <a href="https://www.facebook.com/pikul.kongkul/"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://line.me/ti/p/eS4YJUPJ_1"
            ><i class="fab fa-line"></i
          ></a>
          <a href="https://github.com/Thanakamol"
            ><i class="fab fa-github"></i
          ></a>
          <a href="Mailto:61010413@kmitl.ac.th"
            ><i class="fa fa-envelope" aria-hidden="true"></i
          ></a>
        </ul>
      </div>
    </div>

    <!--noknok-->
    <div class="wrapper1">
      <div class="card front-face">
        <img src="images/contact_pic/NokYung.jpg" />
      </div>
      <div class="card back-face">
        <img src="images/contact_pic/NokYung.jpg" />
        <div class="info">
          <div class="title">นภิสา เสริมศิลป์</div>
          <p>
            รหัสนักศึกษา 61010552<br />
            3rd year student<br />
            ITE#21 KMITL
          </p>
        </div>
        <ul>
          <a href="https://www.facebook.com/Username666san"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://line.me/ti/p/z7gvAP2Tgs"
            ><i class="fab fa-line"></i
          ></a>
          <a href="https://github.com/Nabhisa"><i class="fab fa-github"></i></a>
          <a href="Mailto:61010552@kmitl.ac.th"
            ><i class="fa fa-envelope" aria-hidden="true"></i
          ></a>
        </ul>
      </div>
    </div>

    <!--mhai-->
    <div class="wrapper1">
      <div class="card front-face">
        <img src="images/contact_pic/Mhai.jpg" />
      </div>
      <div class="card back-face">
        <img src="images/contact_pic/Mhai.jpg" />
        <div class="info">
          <div class="title">นิภารัตน์ ศรีสังข์</div>
          <p>
            รหัสนักศึกษา 61010586<br />
            3rd year student<br />
            ITE#21 KMITL
          </p>
        </div>
        <ul>
          <a href="https://www.facebook.com/samuimtb"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a href="https://line.me/ti/p/twP0Zk1Ugo"
            ><i class="fab fa-line"></i
          ></a>
          <a href="https://github.com/Niparat01"
            ><i class="fab fa-github"></i
          ></a>
          <a href="Mailto:61010586@kmitl.ac.th"
            ><i class="fa fa-envelope" aria-hidden="true"></i
          ></a>
        </ul>
      </div>
    </div>
  </body>
</html>
