<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/d_menu/d_บัวลอยไข่หวาน_2.jpg">
              </label>
              <div class="content content-1">
                <div class="title">บัวลอยไข่หวาน</div>
      <div class="text">
          ระดับความยาก : ยาก<br>
          ระยะเวลาที่ใช้ : 50 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/d_menu/d_บัวลอยไข่หวาน_1.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br>วัตถุดิบ</div>
      <div class="text">
        - แป้งข้าวเหนียว 1 ถ้วย<br>
        - น้ำ 1/4 ถ้วย<br>
        - เผือกนึ่งสุก<br>
        - ฟักทองนึ่งสุก<br>
        - น้ำใบเตยคั้นเข้มข้น<br>
        - น้ำกะทิ 1 ถ้วย<br>
        - น้ำตาลทราย 1 ถ้วย<br>
        - เกลือป่น 1 ช้อนชา<br>
        - ไข่ไก่
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/d_menu/d_บัวลอยไข่หวาน_3.jpeg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
     1.แบ่งแป้งออกเป็น 3 ส่วน<br>ส่วนที่ 1 นวดผสมแป้งกับน้ำและเผือกนึ่งสุก <br>ส่วนที่ 2 นวดแป้งกับน้ำและฟักทองนึ่งสุก
     <br>ส่วนที่ 3 นวดแป้งกับน้ำใบเตย <br>นวดผสมจนเข้ากันเป็นเนื้อเดียว ปั้นเป็นก้อนกลมๆ แล้วนำไปคลุกแป้งข้าวเหนียวบางๆ<br><br>
     2.ใส่น้ำกะทิในหม้อ เติมน้ำตาลทรายและเกลือป่น คนผสมจนละลาย นำขึ้นตั้งไฟ พอเดือดให้รีบปิดไฟ ตักใส่ถ้วย<br><br>
     3.ต้มน้ำในหม้อจนเดือด นำบัวลอยลงต้มทีละสีจนลอยขึ้น จากนั้นตักขึ้นสะเด็ดน้ำ ใส่ลงในถ้วย ตักกะทิใส่ลงไป<br><br>
     4.ตอกไข่ไก่ใส่ถ้วย ค่อยๆ เทลงในหม้อน้ำกะทิ รอจนไข่สุกตามชอบ จากนั้นตักขึ้นใส่ลงในถ้วยบัวลอย พร้อมเสิร์ฟ<br><br>
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>