<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/d_menu/d_ขนมชั้นใบเตย_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ขนมชั้นใบเตย</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 70 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/d_menu/d_ขนมชั้นใบเตย_1.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br>วัตถุดิบ</div>
      <div class="text">
          - น้ำตาลทราย 2+1/2  ถ้วย<br>
          - น้ำกะทิ 4  ถ้วย<br>
          - แป้งข้าวเจ้า 1/2 ถ้วย<br>
          - แป้งมันสำปะหลัง 1/2 ถ้วย<br>
          - แป้งถั่วเขียว 1+1/2  ถ้วย<br>
          - น้ำใบเตยคั้นเข้มข้น 1/2 ถ้วย<br>
          - น้ำหอมกลิ่นมะลิผสมน้ำ 1/2 ถ้วย<br>
          - ถาดหรือพิมพ์สี่เหลี่ยมสำหรับนึ่งขนม <br>(ขนาด 10x10 นิ้ว หรือ 8x8 นิ้ว)
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/d_menu/d_ขนมชั้นใบเตย_1.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.ใส่น้ำตาลทรายและกะทิลงในหม้อ คนผสมให้เข้ากันแล้วนำขึ้นตั้งไฟปานกลางประมาณ 5 นาที จนน้ำตาลทรายละลายแล้วยกลงจากเตา พักทิ้งไว้จนเย็น
        จากนั้น นึ่งถาดหรือพิมพ์ในชุดนึ่งที่มีน้ำเดือด ประมาณ 15 นาที<br><br>
        2.ผสมแป้งข้าวเจ้า แป้งมันสำปะหลัง และแป้งท้าวยายม่อมเข้าด้วยกัน ค่อยๆเทส่วนผสมน้ำกะทิลงไป 
        ใช้มือนวดแป้งให้เข้ากันเป็นเนื้อเดียว นวดประมาณ 15 นาทีจนแป้งไม่จับตัวเป็นก้อน จากนั้นนำไปกรองด้วยตะแกรง<br><br>
        3.ทำชั้นที่ 1 เทส่วนผสมสีขาวลงในพิมพ์ ปิดฝานึ่งประมาณ 5 นาที 
        แล้วเทส่วนผสมสีเขียวปิดฝานึ่งประมาณ 5 นาที ทำซ้ำสลับจนหมดแป้ง 
        โดยชั้นสุดท้าย ให้นึ่งประมาณ 7 นาทีแล้วยกออกจากชุดนึ่ง วางพักทิ้งไว้จนเย็นสนิทแล้วนำขนมออกจากถาด 
        จัดใส่จาน พร้อมเสิร์ฟ<br><br>
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>