<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/d_menu/d_ขนมโค_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ขนมโค</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 70 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/d_menu/d_ขนมโค_3.jpg">
              </label>
              <div class="content content-2">
                <div class="title">วัตถุดิบ</div>
      <div class="text">
        - แป้งข้าวเหนียว<br>
        - น้ำตาลแว่น<br>
        - มะพร้าวขูด<br>
        - เผือกหอมนึ่ง<br>
        - เกลือป่นเล็กน้อย<br>
        - เฮลซ์บลูบอยสีแดง 
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/d_menu/d_ขนมโค_2.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.ใช้ช้อนกับส้อมบดเผือกนึ่งเสร็จแล้วนำไปผสมกับ<br>แป้งข้าวเหนียวและเฮลซ์บลูบอยสีแดง นวดผสมกันจนเป็นก้อน จากนั้นแบ่งแป้งเป็นก้อนกลมๆ 
        โดยปริมาณของแป้งจะต้องมากพอที่จะหุ้มน้ำตาลที่ตัดเตรียมไว้ จากนั้นแผ่เป็นแผ่นบาง วางน้ำตาลลงไปแล้วปั้นเป็นก้อนกลมๆ<br><br>
        2.เติมน้ำสะอาดใส่ลงในหม้อ ตั้งไฟกลางรอจนน้ำเดือด <br><br>
        3.นำขนมโคลงไปลวก เมื่อเห็นขนมลอยขึ้นมาแล้วให้ใช้กระชอนตัก หลังจากนั้นเอาไปแช่น้ำเย็นไว้ครู่หนึ่ง<br><br>
        4.ตักขนมขึ้นมาเตรียมเสิร์ฟในจาน นำมะพร้าวขูดคลุกกับเกลือป่นเล็กน้อยแล้วนำไปคลุกกับตัวขนม
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>