<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/d_menu/d_ลอดช่องน้ำกะทิ_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ลอดช่องน้ำกะทิ</div>
      <div class="text">
          ระดับความยาก : ยาก<br>
          ระยะเวลาที่ใช้ : 80 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/d_menu/d_ลอดช่องน้ำกะทิ_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br>วัตถุดิบ</div>
      <div class="text">
      - ใบเตยหั่นเป็นชิ้นเล็กๆ 450 กรัม<br>
      - น้ำปูนใส 10 ถ้วย<br>
      - แป้งข้าวเจ้า 3 ถ้วย<br>
      - แป้งมันสำปะหลัง 1 ถ้วย<br>
      - แป้งถั่วเขียว 4 ช้อนโต๊ะ<br>
      - น้ำเย็นจัด<br>
      - น้ำแข็งทุบ<br>
      - น้ำตาลปี๊บ 4 ถ้วย<br>
      - เกลือป่น 1 ช้อนชา<br>
      - กะทิ 5 ถ้วย

      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/d_menu/d_ลอดช่องน้ำกะทิ_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
     1.ทำน้ำกะทิโดยนำน้ำตาลปี๊บ เกลือป่น และกะทิ ผสมเข้าด้วยกันแล้วกรองตะแกรง 
     จากนั้นนำขึ้นตั้งไฟปานกลาง เคี่ยวจนน้ำกะทิใกล้เดือด ปิดไฟแล้วพักทิ้งไว้จนเย็น<br><br>
     2.ใส่ใบเตยลงในเครื่องปั่น ตามด้วยน้ำปูนใส 7 ถ้วย ปั่นจนละเอียด จากนั้นคั้นเอาเฉพาะน้ำ จากนั้นใส่แป้งข้าวเจ้า แป้งมันสำปะหลัง และแป้งถั่วเขียวลงไป
    ปล่อยให้แป้งค่อยๆจมไปในน้ำแล้วค่อยๆคนผสมกันแล้วกรองตะแกรง<br><br>
     4.ใส่ส่วนผสมลงในกระทะ นำขึ้นตั้งไฟปานกลาง <br>กวนผสมตลอดเวลา พอแป้งเริ่มเหนียว 
     ค่อยๆเทน้ำปูนใสที่เหลือลงไปจนหมด กวนจนส่วนผสมเหนียวและมีสีใส<br><br>
     5.ตักใส่เครื่องกดลอดช่อง กดแป้งเป็นเส้นๆ ลงในน้ำเย็น จากนั้นตักใส่ถ้วยแล้วราดน้ำกะทิและน้ำแข็งพร้อมเสิร์ฟ<br><br>
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>