<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/d_menu/d_สังขยาฟักทอง_3.jpg">
              </label>
              <div class="content content-1">
                <div class="title">สังขยาฟักทอง</div>
      <div class="text">
          ระดับความยาก : ยาก<br>
          ระยะเวลาที่ใช้ : 130 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/d_menu/d_สังขยาฟักทอง_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title">วัตถุดิบ</div>
      <div class="text">
        - ไข่ไก่ 2 ฟอง<br>
        - ไข่เป็ด 2 ฟอง<br>
        - ฟักทอง 1 ลูก<br>
        - กะทิ 200 มิลลิลิตร<br>
        - น้ำตาลปี๊บ 180 กรัม<br>
        - เกลือ 1 ช้อนชา<br>
        - ใบเตย 2 ใบ
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/d_menu/d_สังขยาฟักทอง_1.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.นำฟักทองมาเจาะเปิดฝาออก คว้านเมล็ดฟักทองออกให้เหลือแต่ใยข้างใน จากนั้นล้างทำความสะอาดทั้งข้างในและเปลือกข้างนอก จากนั้นก็คว่ำไว้ให้แห้ง<br><br>
        2.เทไข่ลงในชาม ตามด้วยกะทิ น้ำตาลปี๊บ ใส่ใบเตยลงไปรวมกัน จากนั้นขยำส่วนผสมทั้งหมดในถ้วยให้เข้ากัน จนน้ำตาลละลายหมด
        แล้วกรองด้วยกระชอนหรือผ้าขาวบาง จากนั้นเทน้ำสังขยาลงไปในฟักทอง ตักฟองออกให้หมด<br><br>
        4.นำไปนึ่งโดยใช้เวลาประมาณ 45 นาที แล้วลองเช็คดูด้วยการนำไม้จิ้มลงไปตรงกลาง ถ้าไม่มีเนื้อสังขยาติดออกมาแสดงว่าสุกดีแล้ว<br><br>
        5.เมื่อสังขยาฟักทองนึ่งเสร็จแล้ว ให้นำไปแช่ในตู้เย็นให้เซตตัว แล้วตัดแบ่งเป็นชิ้นๆ พร้อมเสิร์ฟ <br><br>
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>