<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/k_menu/k_บิบิมบับ_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">บิบิมบับ</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 35 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/k_menu/k_บิบิมบับ_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
     - ผักปรุงรส<br>
     - เนื้อหมูหมัก<br>
     - โคชูจัง<br>
     - น้ำตาลทราย<br>
     - น้ำมันพืช<br>
     - ข้าวสวยหุงสุก<br>
     - ไข่แดง<br>
     - ถั่วงอก<br>
     - ไช้เท้า หั่นเป็นเส้น<br>
     - ปวยเล้ง หั่นเป็นท่อน<br>
     - แครอท ซอยเป็นเส้น<br>
     - เห็ดเข็มทอง<br>
     - เกลือ<br>
     - น้ำมันงา<br>
     - งาขาวคั่ว<br>
     - ซีอิ๊วขาว
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/k_menu/k_บิบิมบับ_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
     1.ทำผักปรุงรส โดยใส่น้ำลงในหม้อแล้วนำขึ้นตั้งไฟจนเดือด ใส่ผักทีละอย่างลงลวกจนสุก ตักขึ้นสะเด็ดน้ำไว้<br><br>
     2.ปรุงรสผักทีละอย่าง(ยกเว้นปวยเล้ง) ด้วยเกลือ <br>น้ำมันงา และงาขาว คลุกเคล้าให้เข้ากัน ตักใส่จานไว้ 
     ส่วนปวยเล้งจะปรุงรสด้วยซีอิ๊วขาว น้ำมันงา และงาขาว คลุกเคล้าให้เข้ากัน ตักใส่จานเตรียมไว้ จากนั้นหั่น<br>เนื้อหมูหมักเป็นเส้นๆเตรียมไว้<br><br>
     3.ใส่น้ำมันพืชลงในกระทะ นำขึ้นตั้งไฟปานกลาง <br>ใส่เนื้อหมูหมักลงไปผัดจนสุก ตักใส่ถ้วย เตรียมไว้<br><br>
     4.ผสมโคชูจังกับน้ำตาลทรายเข้าด้วยกัน จัดจานโดยตักข้าวสวยลงในถ้วย วางผักปรุงรสและหมูเกาหลีลงไปให้สวยงาม 
     ราดโคชูจังลงไป สุดท้ายตักไข่แดงวางลงไป<br>ตรงกลาง พร้อมเสิร์ฟ
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>