<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/k_menu/k_kfc_2.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ไก่ทอดเกาหลี</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 35 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/k_menu/k_kfc_1.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
        - ปีกไก่ 500 กรัม<br>
        - เกลือปน<br>
        - พริกไทยป่น<br>
        - แป้งข้าวโพด 2 ถ้วย<br>
        - หอมใหญ่สับ 1/4 ลูก<br>
        - กระเทียมสับ 4 กลีบ<br>
        - ซีอิ๊วขาว 1/2 ถ้วย<br>
        - มิริน 1/4 ถ้วย<br>
        - น้ำตาลทรายแดง 2 ช้อนโต๊ะ<br>
        - ผงกระเทียม 1/2 ช้อนชา<br>
        - ขิงหั่นเป็นชิ้นขนาด 1 นิ้วสับละเอียด<br>
        - งาขาวคั่ว
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/k_menu/k_kfc_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.ล้างปีกไก่ให้สะอาด พักทิ้งไว้จนแห้งสนิท<br><br>
        2.โรยเกลือและพริกไทยให้ทั่วปีกไก่แล้วนำไปชุบ<br>แป้งข้าวโพดให้ทั่ว จากนั้นลงทอดจนสุกเหลืองกรอบ <br>ตักขึ้นสะเด็ดน้ำมันให้แห้ง<br><br>
        3.ทำน้ำจิ้ม โดยผสมหอมใหญ่สับ กระเทียมสับ ซีอิ๊วขาว <br>มิริน น้ำตาลทรายแดง ผงกระเทียม และขิงสับลงในหม้อ นำขึ้นตั้งไฟอ่อน เคี่ยวจนส่วนผสมละลายเข้ากัน ปิดไฟ<br><br>
        4.ใส่แป้งข้าวโพดลงในถ้วย ตักส่วนผสมซอสใส่ลงไปคนผสมให้เข้ากันและมีลักษณะเหนียว<br><br>
        5.นำไก่ที่ทอดไว้ไปลงไปทอดในน้ำมันร้อนจัดอีกครั้ง <br>จากนั้นนำขึ้นมาซับน้ำมันให้แห้งสนิทแล้วนำไปชุบลงในส่วนผสมซอสให้ทั่ว โรยด้วยงาขาวคั่ว พร้อมเสิร์ฟ
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>