<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/k_menu/k_กิมจิผัดไข่_1.JPG">
              </label>
              <div class="content content-1">
                <div class="title">กิมจิผัดไข่</div>
      <div class="text">
          ระดับความยาก : น้อย<br>
          ระยะเวลาที่ใช้ : 20 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/k_menu/k_กิมจิผัดไข่_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title">วัตถุดิบ</div>
      <div class="text">
        - กิมจิ 150 มิลลิกรัม<br>
        - เนื้อไก่<br>
        - ไข่ไก่ 2 ฟอง<br>
        - กระเทียม<br>
        - ซอสโคชูจัง
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/k_menu/k_กิมจิผัดไข่_3.JPG">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br>วิธีทำ</div>
      <div class="text">
        1.หั่นกระเทียมเป็นลูกเต๋า<br><br>
        2.ตั้งกระทะ ผัดกระเทียมให้สุกเล็กน้อย ใส่เนื้อไก่ลงไปในกระทะ ผัดกับกระเทียมจนเนื้อไก่สุก<br><br>
        4.ใส่กิมจิลงไปผัดกับเนื้อไก่ คลุกเคล้าให้เข้ากัน<br><br>
        5.ใส่ไข่ลงไปในกระทะ ผัดคลุกเคล้าจนไข่เกือบสุก<br><br>
        6.ใส่ซอสโคชูจัง 1 ช้อนชา<br><br>
        7.คลุกเคล้าซอสโคชูจังให้ทั่ว ผัดพอประมาณจนไข่สุก
      </div>
              </div>
      </div>
      </div>
    </body>
    </html>