<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/k_menu/k_หมูสามชั้นผัดกิมจิ_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">หมูสไลด์ผัดกิมจิ</div>
      <div class="text">
          ระดับความยาก : ปานกลาง<br>
          ระยะเวลาที่ใช้ : 20 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/k_menu/k_หมูสามชั้นผัดกิมจิ_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br>วัตถุดิบ</div>
      <div class="text">
     - เนื้อหมูสไลด์บาง 300 กรัม<br>
     - กิมจิ 200 กรัม<br>
     - เกลือป่น<br>
     - พริกไทยดำป่น<br>
     - พริกป่นเกาหลี<br>
     - ผงฮอนดาชิ (หรือผงซุปผัก)<br>
     - ต้นหอมหั่นเป็นท่อนสั้น 1 ต้น<br>
     - ต้นหอมญี่ปุ่นขูดฝอย<br>
     - ต้นหอมซอย<br>
     - น้ำมันพืช 1 ช้อนโต๊ะ
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/k_menu/k_หมูสามชั้นผัดกิมจิ_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br>วิธีทำ</div>
      <div class="text">
        1.ใส่น้ำมันพืชลงในกระทะ นำขึ้นตั้งไฟอ่อน ใส่เนื้อหมูลงผัดสักครู่จนหมูเริ่มสุก<br><br>
        2.เพิ่มไฟแรง ใส่กิมจิลงผัด ปรุงรสด้วยเกลือป่น <br>พริกไทยดำป่น พริกป่นเกาหลี และผงฮอนดาชิ <br>ผัดให้เข้ากัน ใส่ต้นหอมลงผัดพอเข้ากัน <br><br>
        3.ตักใส่จาน โรยด้วยต้นหอมญี่ปุ่นขูดฝอย <br>และต้นหอมซอยให้สวยงาม
      </div>
      </div>
      </div>
      </div>
    </body>
    </html>