<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/t_menu/t_แกงเขียวหวาน_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">แกงเขียวหวานไก่ยอดมะพร้าวอ่อน</div>
      <div class="text">
          ระดับความยาก : น้อย<br>
          ระยะเวลาที่ใช้ : 25 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/t_menu/t_แกงเขียวหวาน_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br>วัตถุดิบ</div>
      <div class="text">
            - น้ำมันมะกอก<br>
            - น้ำพริกแกงเขียวหวาน 100 กรัม<br>
            - กะทิสำเร็จรูป 500 มิลลิลิตร<br>
            - เนื้ออกไก่หั่นเป็นชิ้น 300 กรัม<br>
            - น้ำปลา 3 ช้อนโต๊ะ<br>
            - น้ำตาลปี๊บ 1 ช้อนโต๊ะ<br>
            - ยอดมะพร้าว 100 กรัม<br>
            - พริกขี้หนู 1 ช้อนโต๊ะ<br>
            - ใบมะกรูด 5 ใบ<br>
            - ใบโหระพา 30 กรัม<br>
            - พริกชี้ฟ้าแดงหั่นเฉียง และใบมะกรูด
      </div>
      </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/t_menu/t_แกงเขียวหวาน_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br>วิธีทำ</div>
      <div class="text">
        1.ผัดน้ำพริกแกงเขียวหวานกับน้ำมันมะกอกในกระทะ<br>จนหอม ค่อย ๆ เติมกะทิ ผัดจนกะทิแตกมัน จากนั้น<br>
        ใส่เนื้อไก่ลงผัดจนสุก ปรุงรสด้วยน้ำปลา และน้ำตาลปี๊บ คนผสมจนเดือด<br><br>
        2.ใส่ยอดมะพร้าว พริกขี้หนู ใบมะกรูด และใบโหระพา<br>คนผสมจนเดือด ตักใส่ชาม แต่งด้วยพริกชี้ฟ้าแดง<br>และใบมะกรูด
      </div>
      </div>
      </div>
      </div>
    </body>
    </html>