<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
        <div class="inner-part">  
              <label for="imgTap" class="img">
                <img class="img-1" src="images/t_menu/t_ผัดไทกุ้งสด_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ผัดไทยกุ้งสด</div>
      <div class="text">
          ระดับความยาก : น้อย<br>
          ระยะเวลาที่ใช้ : 30 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/t_menu/t_ผัดไทกุ้งสด_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br><br>วัตถุดิบ</div>
              <div class="text">
​​                ​​&nbsp- กุ้งสด 3-5 ตัว<br>
​​              ​​  - เต้าหู้เหลืองหั่นเต๋า 3 ช้อนโต๊ะ<br>
​​                ​​​​&nbsp- ไชโป๊สับละเอียด 2 ช้อนโต๊ะ<br>
​​                ​​​​&nbsp- ​ก๋วยเตี๋ยวเส้นเล็ก (หรือเส้นจันทร์) แช่น้ำจนนิ่ม<br>
​​                ​​&nbsp​​- ถั่วงอกดิบ<br>
​​                ​​​​&nbsp- ​ใบกุยช่ายหั่นท่อน<br>
​​      ​          - ​ไข่ไก่ 1 ฟอง<br>
​​      ​​          - น้ำมันพืช<br>
​​                ​​​​&nbsp- ถั่วลิสงคั่วบด ตามชอบ<br>
​​      ​​          - ผักสด<br>
                ​​&nbsp​​&nbsp- ​น้ำตาลปี๊บ 2 ช้อนโต๊ะ<br>
                ​​​​&nbsp​​&nbsp- น้ำมะขามเปียก 2 ช้อนโต๊ะ<br>
                ​​&nbsp​​&nbsp​​- น้ำปลา 2 ช้อนโต๊ะ<br>
                ​​​​&nbsp​​&nbsp- ​พริกป่น 1 ช้อนชา
              </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/t_menu/t_ผัดไทกุ้งสด_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br><br><br>วิธีทำ</div>
      <div class="text">
        1.ทำซอสผัดไทย โดยผสมน้ำตาลปี๊บ น้ำมะขามเปียก น้ำปลา และพริกป่นเข้าด้วยกัน นำขึ้นตั้งไฟพอร้อนจนน้ำตาลปี๊บละลาย จัดเตรียมไว้<br><br>
        2.ทำผัดไทย เริ่มจากใส่น้ำมันพืชลงในกระทะ พอน้ำมันร้อนใส่กุ้งสดลงไปผัดจนกุ้งเริ่มสุก ตักขึ้นใส่จานเตรียมไว้<br><br>
        3.ใส่เต้าหู้ลงไปผัดในกระทะพอให้เหลืองหอม ตามด้วยไชโป๊สับ ผัดพอเข้ากัน ใส่น้ำซอสผัดไทยลงไปผัดให้เข้ากันจนเริ่มเดือด
        จากนั้นใส่เส้นก๋วยเตี๋ยวที่แช่น้ำแล้วลงไปผัดให้เข้ากันเบาๆ แล้วใช้ตะหลิวเขี่ยเส้นไปไว้ข้างกระทะ<br><br>
        4.ตอกไข่ไก่ลงไป ยีให้พอแตก รอจนไข่เริ่มสุกแล้วนำส่วนผสมเส้นมาผัดให้เข้ากัน ตามด้วยกุ้งที่เตรียมไว้ตักใส่จาน เสิร์ฟพร้อมผักสด ถั่วลิสงคั่วบด พริกป่น และมะนาว
      </div>
      </div>
      </div>
      </div>
    </body>
    </html>