<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/t_menu/t_tomyamkung.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ต้มยำกุ้ง</div>
      <div class="text">
          ระดับความยาก : น้อย<br>
          ระยะเวลาที่ใช้ : 20 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/t_menu/t_tomyamkung_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br><br><br>วัตถุดิบ</div>
      <div class="text">
        - กุ้งแชบ๊วยตัวใหญ่ 5 ตัว<br>
        - ตะไคร้ 3 ต้น<br>
        - หอมแดงหัวเล็ก 4-5 หัว<br>
        - ข่า 1 แง่ง<br>
        - ใบมะกรูด 2-3 ใบ<br>
        - เห็ดฟาง 8-10 ชิ้น<br>
        - น้ำพริกเผา 2 ช้อนโต๊ะ<br>
        - กะทิสด 1+1/2 ถ้วยตวง<br>
        - น้ำสต๊อก 2 ถ้วยตวง<br>
        - พริกขี้หนูสวนโขลก 3 ช้อนโต๊ะ<br>
        - น้ำปลา 2 ช้อนโต๊ะ<br>
        - น้ำมะนาว 2+1/2 ช้อนโต๊ะ<br>
        - ผักชีฝรั่ง<br>
        - พริกทอด
  </div>
  </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/t_menu/t_tomyamkung_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br><br><br>วิธีทำ</div>
      <div class="text">
        1.ตั้งหม้อ ใส่น้ำสต๊อก ทุบตะไคร้ หอมแดง ข่า และ<br>ขยี้ใบมะกรูดส่วนหนึ่งใส่ลงในหม้อ<br><br>
        2.เมื่อน้ำเริ่มเดือดเป็นฟองใส่เห็ดฟาง ลดไฟลง<br>ไม่ให้น้ำเดือดพล่าน<br><br>
        3.ใส่กะทิ น้ำพริกเผา และกุ้งแชบ๊วย ต้มจนกุ้งสุก<br><br>
        4.ปิดไฟ ปรุงรสด้วยน้ำปลา น้ำมะนาว และพริกขี้หนูสวน<br><br>
        5.ขยี้ใบมะกรูดส่วนที่เหลือลงในหม้ออีกครั้ง โรยผักชีฝรั่งและพริกทอด จัดเสิร์ฟ
      </div>
      </div>
      </div>
      </div>
    </body>
    </html>