<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	  <link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
	  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/w_menu/w_ไก่อบน้ำผึ้งมัสตาร์ด_1.jpg">
              </label>
              <div class="content content-1">
                <div class="title">ไก่อบน้ำผึ้งมัสตาร์ด</div>
      <div class="text">
          ระดับความยาก : น้อย<br>
          ระยะเวลาที่ใช้ : 40 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/w_menu/w_ไก่อบน้ำผึ้งมัสตาร์ด_3.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br><br>วัตถุดิบ</div>
      <div class="text">
        - ไก่เบรสฝรั่งเศส 1/2 ตัว<br>
        - มันฝรั่ง 600-800 กรัม<br>
        - น้ำมันมะกอก 2 ช้อนโต๊ะ<br>
        - น้ำผึ้ง 5 ช้อนโต๊ะ<br>
        - โฮลเกรนมัสตาร์ด 3 ช้อนโต๊ะ<br>
        - ถั่วเข็มลวก 200 กรัม<br>
        - กระเทียม 3 กลีบ   <br>
        - เนยจืด 2 ช้อนโต๊ะ<br>
        - เลมอน 1/2 ลูก<br>
        - โรสแมรี่ 2-3 ก้าน  <br>     
        - เกลือ<br>
        - พริกไทย
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/w_menu/w_ไก่อบน้ำผึ้งมัสตาร์ด_2.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br> <br> <br><br><br>วิธีทำ</div>
      <div class="text">
     1.เปิดเตาอบที่อุณหภูมิ 200 องศาเซลเซียส และหั่นมันฝรั่งเป็นชิ้นๆคลุกด้วยน้ำมันมะกอก ปรุงรสด้วยเกลือ <br> พริกไทย ตามด้วยใบโรสแมรี่
     จากนั้นผสมน้ำผึ้งและ<br> โฮลเกรนมัสตาร์ดให้เข้ากัน ปรุงรสด้วยเกลือกับพริกไทย ทาเนื้อไก่ให้ทั่วแล้วพักไว้<br> <br> 
     3.ใช้หม้อที่เข้าเตาอบได้ เคลือบก้นหม้อด้วยน้ำมันมะกอกแล้วจัดเรียงมันฝรั่งลงไปให้ทั่ว ตามด้วยไก่ที่หมัก ปิดหม้อด้วยกระดาษฟอยล์ อบประมาณ 20 นาที
     จากนั้นนำ<br> ส่วนผสมของน้ำผึ้งและมัสตาร์ดที่เหลือผสมกับน้ำเลมอน
    พอครบ 20 นาทีเปิดฟอยล์ออก ราดส่วนผสมน้ำเลมอน<br> ให้ทั่ว นำเข้าเตาอบแบบไม่ปิดฟอยล์จนไก่มีสีสวยงาม<br> <br> 
     4.ตั้งกระทะให้ร้อน ใส่เนยลงไป ตามด้วยกระเทียมซอย พอเริ่มมีกลิ่นหอมใส่ถั่วเข็มลงไปผัด ปรุงรสด้วยเกลือและพริกไทย ใช้เสิร์ฟเป็นเครื่องเคียง
      </div>
      </div>
      </div>
      </div>
    </body>
    </html>