<!DOCTYPE html>
<html>
    <%- include top.ejs %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <meta http-equiv="X-UA-compatible" content="ie = edge , chrome = 1">
	<link href="stylesheets/webdefault.css" rel="stylesheet" />
    <link href="stylesheets/eachmenu.css" rel="stylesheet" />
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title> Easy Cooking </title>
    <script>
      window.console = window.console || function (t) {};
    </script>

    <script>
      if (document.location.search.match(/type=embed/gi)) {
        window.parent.postMessage("resize", "*");
      }
    </script>
    <body>
        <div class="blog-card">
            <input type="radio" name="select" id="tap-1" checked>
            <input type="radio" name="select" id="tap-2">
            <input type="radio" name="select" id="tap-3">
            <input type="checkbox" id="imgTap">
            <div class="sliders">
              <label for="tap-1" class="tap tap-1"></label>
              <label for="tap-2" class="tap tap-2"></label>
              <label for="tap-3" class="tap tap-3"></label>
            </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-1" src="images/w_menu/w_พาสต้าครีมแซลมอน_1.JPG">
              </label>
              <div class="content content-1">
                <div class="title">พาสต้าครีมแซลมอน</div>
      <div class="text">
          ระดับความยาก : น้อย<br>
          ระยะเวลาที่ใช้ : 20 นาที
      </div>
              </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-2" src="images/w_menu/w_พาสต้าครีมแซลมอน_2.jpg">
              </label>
              <div class="content content-2">
                <div class="title"><br><br>วัตถุดิบ</div>
      <div class="text">
          - เส้นพาสต้าต้มสุก 3 ถ้วย<br>
          - เนื้อปลาแซลมอนหั่นเต๋าเล็ก 200 กรัม<br>
          - หอมหัวใหญ่สับ 1/4 ถ้วย<br>
          - ใบไทม์สด 1 กิ่ง<br>
          - แป้งสาลีอเนกประสงค์ 2 ช้อนโต๊ะ<br>
          - เนยสดเค็ม 2 ช้อนโต๊ะ<br>
          - นมสดจืด 2 ถ้วย<br>
          - น้ำซุปปลา 1/4 ถ้วย<br>
          - เกลือป่นและพริกไทยป่น
      </div>
      </div>
      </div>
      <div class="inner-part">
              <label for="imgTap" class="img">
                <img class="img-3" src="images/w_menu/w_พาสต้าครีมแซลมอน_3.jpg">
              </label>
              <div class="content content-3">
                <div class="title"><br>วิธีทำ</div>
      <div class="text">
        1. ผัดเนยสดกับหอมหัวใหญ่ให้สุก ใส่แป้งไปผัดให้เข้ากัน เติมน้ำซุปลงไปผัดให้ข้น เติมนมลงไปแล้วรอจนเดือด<br><br>
        2. ใส่เนื้อปลาแซลมอนไปผัดเบาๆให้สุก ปรุงรสด้วยเกลือและพริกไทย ใส่ใบไทม์ ผัดให้เข้ากันจนข้น<br><br>
        3. จัดเส้นพาสตาใส่จาน ตักครีมแซลมอนราดให้ทั่ว <br>โรยพาร์มีซานชีสขูดเล็กน้อย
      </div>
      </div>
      </div>
      </div>
    </body>
    </html>